body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spin {
    border-radius: 100%;
    border: 50px solid;
    border-color: aqua blue;
    animation: a 1s infinite;
}

@keyframes a {
    0% {
    transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}