.container {
  display: flex;
  gap: 20px;
}

@media screen and (width <= 375px) {
  .container {
    flex-direction: column;
  }

  .text:nth-of-type(1) {
    order: 3;
  }
  
  .text:nth-of-type(2) {
    order: 1;
  }
  
  .text:nth-of-type(3) {
    order: 4;
  }
  
  .text:nth-of-type(4) {
    order: 2;
  }
}