body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.pa {
    width: 0;
    display: flex;
    justify-content: start;
    gap: 5px;
    white-space: nowrap;
    animation: sweep 2s steps(6,end) infinite;
    overflow: hidden;
}

.pa div {
    height: 5px;
    flex: 0 0 25px;
    background-color: #000;
    vertical-align: middle;
}   

@keyframes sweep {
    to {
        width: 180px;
    }
}